
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.left-side{
  width: 40%;
  min-height: 100vh;
  height: auto;
  background: #136F5E;
  position: relative;
  overflow: hidden;
  &__title{
    display: flex;
    margin: 84px 0 0 64px;    
    & img {
      width: 46px;
      height: 40px;
      color: #2BC7A2;
    }
    & p{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 34px;
      color: #fff;
      margin-left: 9px;
    }
  }
  &__img{
    position: absolute;
    width: 53%;
    height: 720px;
    display: flex;
    justify-content: right;
    top: 200px;
    right: 0;
  }
}